<!--<p id="notice"><%= notice %></p>-->

<h1>My Stocks</h1>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Market Cap</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>
        <% begin %>
          <% @stock_quote = StockQuote::Stock.batch("quote,company", stock.ticker) %>
        <% rescue %>
          <tr>
            <td><%= link_to 'Error', stock %></td>
            <td><%= stock.ticker %></td>
            <td><%= 'Error' %></td>
            <td><%= 'Error' %></td>
            <td><center><%= link_to 'Delete', stock, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
          </tr>
          <% next %>
        <% end %>
        <tr>
          <td><%= link_to @stock_quote.company_name, stock %></td>
          <td><%= stock.ticker %></td>
          <td><%= @stock_quote.latest_price %></td>
          <td><%= number_with_delimiter(@stock_quote.market_cap, :delimiter => ',') %></td>
          <td><center><%= link_to 'Delete', stock, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Stock', new_stock_path, class: 'btn btn-success' %>
