<!--<p id="notice"><%= notice %></p>-->

<% begin %>
  <% @stock_quote = StockQuote::Stock.batch("quote,company,logo", @stock.ticker) %>
<% rescue %>
  Something went wrong
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <div style="float: left; margin-right: 10px;">
        <img style="width:auto;height:20px;" src=<%= @stock_quote.url %>>
      </div>
      <strong><%= @stock_quote.company_name %> (<%= @stock_quote.symbol %>)</strong>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
    <h1><%= @stock_quote.latest_price %></h1><br/>
      <strong>P/E Ratio: </strong><%= @stock_quote.pe_ratio %><br/>
      <strong>Market Cap: </strong><%= number_with_delimiter(@stock_quote.market_cap, :delimiter => ',') %><br/>
      <strong>Stock Open: </strong><%= @stock_quote.open %><br/>
      <strong>Day's Range: </strong><%= @stock_quote.low %> - <%= @stock_quote.high %><br/>
      <strong>Year High: </strong><%= @stock_quote.week52_high %><br/>
      <strong>Year Low: </strong><%= @stock_quote.week52_low %><br/>
    </div>
    
    <div class="col-md-9">
      <br/>
      <p style="font-size: 18px ;line-height: 1.7em;" align="justify"><%= @stock_quote.description %></p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_stock_path(@stock), class: 'btn btn-warning btn-xs' %>
<%= link_to 'Delete', stock_path(@stock), class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', stocks_path, class: 'btn btn-primary btn-xs' %>
