<%= form_tag root_path, :method => 'POST' do %>
    <br/>
    <div class="center form-inline">
        <div class="input-group">
        <%= text_field_tag 'id', '', size: 50, placeholder: 'Enter Company Ticker Symbol', class: 'form-control input-lg' %>
        <span class="input-group-btn">
        <%= submit_tag 'Lookup', class: 'btn btn-success btn-lg' %>
        </span>
        </div>
    </div>
<% end %>

<br/>

<% if @stock %>
    <br/>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div style="float: left; margin-right: 10px;">
            <img style="width:auto;height:20px;" src=<%= @stock.url %>>
          </div>
          <strong><%= @stock.company_name %> (<%= @stock.symbol %>)</strong>
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-3">
            <h1><%= @stock.latest_price %></h1><br/>
              <strong>P/E Ratio: </strong><%= @stock.pe_ratio %><br/>
              <strong>Market Cap: </strong><%= number_with_delimiter(@stock.market_cap, :delimiter => ',') %><br/>
              <strong>Stock Open: </strong><%= @stock.open %><br/>
              <strong>Day's Range: </strong><%= @stock.low %> - <%= @stock.high %><br/>
              <strong>Year High: </strong><%= @stock.week52_high %><br/>
              <strong>Year Low: </strong><%= @stock.week52_low %><br/>
            </div>
            
            <div class="col-md-9">
              <br/>
              <p style="font-size: 18px ;line-height: 1.7em;" align="justify"><%= @stock.description %></p>
            </div>
        </div>
    </div>

<% elsif @nothing %>
    <%= @nothing %>
<% end %>

<% if @error %>
    <%= @error %>
<% end %>
