<%= form_tag root_path, :method => 'POST' do %>
    <div class="form-group">
        <%= text_field_tag 'id', nil, placeholder: 'Enter Company Ticker Symbol', size: 50 %>
        <%= submit_tag 'Lookup' %>
    </div>
<% end %>

<br/>

<% if @stock %>
    <%= @stock.name %>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>

<% if @error %>
    <%= @error %>
<% end %>
